In [2]:
import pandas as pd

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [159]:
films=pd.read_csv('ratings.csv')

In [160]:
def float_to_int1(x):
    #for x in films['rating']:
    if x ==4.5:
        return int(x)+0.5
    else:
        return int(x)

In [163]:
films['new'] = films['rating'].apply(float_to_int1)

In [162]:
def classification (x):
    if x == 4.5 or x==5.0:
        return 'High'   
    elif x ==2 or x <2:
        return 'Low'
    elif x==4 or x <4:
        return 'Middle'

In [157]:
films['class']=films['new'].apply(classification)
films.head(1)

   userId  movieId  rating   timestamp  new class
0       1       31     2.5  1260759144  2.0   Low

#Задание2
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [282]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [428]:
a=[]
for k,v in geo_data.items():
    #print (v)
    a.append(v)

In [258]:
def Keys(value):
    for k, v in geo_data.items():
        if value in v:
            return k

In [430]:
geo = pd.read_csv('keywords.csv')

In [431]:
def region(row):
    for el in a:
        for city in el:
            if city in row['keyword']:
                return Keys(city)
    else:
        return 'undefined'

In [437]:
geo['region'] = geo.apply(region, axis = 1)

In [436]:
geo.loc[127]

keyword    авито москва
shows            979292
region            Центр
Name: 127, dtype: object

#Задание 3

In [18]:
rating=pd.read_csv('ratings1.csv')

In [21]:
movies=pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
years = list(range(1950,2011,1))

In [26]:
joined = ratings1.merge(movies, on = 'movieId', how = 'left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [36]:
def production_year(row):
    for el in years:
        if str(el) in row['title']:
            return el
    
    else:
        return '1900'

In [39]:
joined['years'] = joined.apply(production_year, axis = 1)

In [ ]:
joined.loc[100:150]

In [51]:
rating_average = joined.groupby('years').mean()[['rating']].sort_values('rating', ascending=False)
rating_average.head()

         rating
years
1957   4.014241
1972   4.011136
1952   4.000000
1954   3.994220
1951   3.983539